*.iml
.gradle
/local.properties
/.idea/appInsightsSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
